*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#MyAccounts{
    background-color: aqua;
    font-size: medium !important;
    font-weight: 300;
}
#NameAndId{
    background-color: aqua;
    font-size: large;
    font-weight: 300;
    padding-top: 35px;
}
#Interests{
    background-color: blanchedalmond;
    font-size: larger;
    font-weight: 400;
}
.Courses{
  background-color: antiquewhite;
  font-size: 400;
  font-weight: 400;
  padding-top: 45px;
}
.Myself{
    background-color: green;
    font-size: 500;
    font-weight: 600;
    padding-top: 50px;
}